<!DOCTYPE html>
<html lang="es">
<head>
  <title>GameHarry</title>
  <meta charset="utf-8"> <!--Para que acepte acentos -->
  <link href="styles.css" rel="stylesheet">
  <link href="../../assets/img/Harry.png" rel="shortcut icon">
</head>

<body>
  <header>
    <a href="../instructions/instructions.html"><p>Instructions</p></a>
    <img id="logoHeader"src="../../assets/img/harryLogo.png">
    <a id="menu"href="../../index.html"><p>Menu</p></a>
  </header>

  <section>
    <h1>Choose your Spell!</h1>
    <div>
      <form action =""id="spell-form">
        <label for="obliviate" class="obliviate">
          <h2>Obliviate</h2>
        </label>
        <label for="expelliarmus" class="expelliarmus">
          <h2>Expelliarmus</h2>
        </label>
        <label for="crucio" class="crucio">
          <h2>Crucio</h2>
        </label>
      <input  id="obliviate" name="spells" value="obliviate" type="radio" >
      <input  id="expelliarmus" name="spells" value="expelliarmus" type="radio" >
      <input  id="crucio" name="spells" value="crucio" type="radio" >
    </div>
      </form>
  </section>

<script src="scripts.js"></script>
</body>
</html>
