<!DOCTYPE html>
<html lang="es">
<head>
  <title>GameHarry</title>
  <meta charset="utf-8"> <!--Para que acepte acentos -->
  <link href="styles.css" rel="stylesheet">
  <link href="../../assets/img/Harry.png" rel="shortcut icon">
</head>

<body class="firstBackground">

  <section class="firstSection">
    <header>
      <a href="../instructions/instructions.html"><p>Instructions</p></a>
      <img id="logoHeader"src="../../assets/img/harryLogo.png">
      <a id="menu"href="../../index.html"><p>Menu</p></a>
    </header>
    <h1>Choose your Spell!</h1>
    <div>
      <form action="" id="spell-form">
        <label for="obliviate" class="obliviate">
          <h2>Obliviate</h2>
        </label>
        <label for="expelliarmus" class="expelliarmus">
          <h2>Expelliarmus</h2>
        </label>
        <label for="crucio" class="crucio">
          <h2>Crucio</h2>
        </label>
      <input  id="obliviate" name="spells" value="obliviate" type="radio" >
      <input  id="expelliarmus" name="spells" value="expelliarmus" type="radio" >
      <input  id="crucio" name="spells" value="crucio" type="radio" >
      </div>
    </form>
  </section>


  <section class="secondSection hidden">
    <header>
      <a href="../instructions/instructions.html"><p>Instructions</p></a>
      <img id="logoHeader"src="../../assets/img/harryLogo.png">
      <a id="menu"href="../../index.html"><p>Menu</p></a>
    </header>
    <h1 class="win1 hidden">You Win,</br>you choose Obliviate and Voldemort choose Crucio</br> You made your opponent forget the spell</h1>
    <h1 class="win2 hidden">You Win,you choose Expelliarmus and Voldemort choose Obliviate</h1>
    <h1 class="win3 hidden">You Win,you choose Crucio and Voldemort choose Expelliarmus</h1>

    <h1 class="loose1 hidden">You Loose ,you choose Oblivite and Voldemort choose Expelliarmus</h1>
    <h1 class="loose2 hidden">You Loose ,you choose Expelliarmus and Voldemort choose Crucio</h1>
    <h1 class="loose3 hidden">You Loose ,you choose Crucio and Voldemort choose Obliviate</h1>

    <h1 class="tie hidden">It's a Tie</h1>

      <div>
        <img class="empate hidden"src="../../assets/img/empate.gif">
        <img class="harryWin hidden"src="../../assets/img/harry-win.gif">
        <img class="voldWin hidden"src="../../assets/img/voldewin.gif">

      </div>

  </section>

<script src="scripts.js"></script>
</body>
</html>
