<!DOCTYPE html>
<html lang="es">
<head>
  <title>GameHarry</title>
  <meta charset="utf-8"> <!--Para que acepte acentos -->
  <link href="styles.css" rel="stylesheet">
  <link href="../../assets/img/Harry.png" rel="shortcut icon">
</head>

<body>
  <header>
    <a href="../instructions/instructions.html"><p>Instructions</p></a>
    <img id="logoHeader"src="../../assets/img/harryLogo.png">
    <a id="menu"href="../../index.html"><p>Menu</p></a>
  </header>
  <h1>Choose your Spell!</h1>
  <div>
    <a href="">Obliviate<img src="../../assets/img/"></a>
    <a href="">Accio<img src="../../assets/img/"></a>
    <a href="">...<img src="../../assets/img/"></a>
  </div>

  <section>
  </section>

  <footer></footer>
<!-- <script src="assets/scripts.js"></script> -->
</body>
</html>
