@font-face {
  font-family: harry;
  src:url("../../assets/fonts/harry.ttf");
}
*
{
  background-size:cover;
  background-position:top;
  background-repeat: no-repeat;
}
body
{
  background-image:url("../../assets/img/wallpaper3.jpg");
  width: 100%;
  height: 100vh; /*vh hace que se tome el height de toda la pantalla*/
}
header
{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
header a
{
  background-image:url("../../assets/img/2.png");
  height: 200px;
  width: 200px;
  background-color: transparent;
  background-size: cover;
  border: 0;
  margin: -78px 0 0 -26px;
  cursor: pointer;
  color:transparent;
}
header p
{
  margin:80px 0 0 30px;
  font-size: 30px;
}
header p:focus
{
  outline:none;
}
header :hover
{
  background-image:none;
  color: white;
}
#menu
{
  background-image: url("../../assets/img/Hogwarts.png");
  background-color: transparent;
}
#menu:hover
{
  background-image:none;
  color: white;
}
h1
{
  text-align: center;
  font-family:harry;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 60px;
  color: white;
}

/*section
{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
}*/

#logoHeader
{
  width: 420px;
}
#hogwartsHeader
{
  height: : 200px;
  width: 200px;
  margin: -42px 0 0 0;
}
