<!DOCTYPE html>
<html lang="es">
<head>
  <title>GameHarry</title>
  <meta charset="utf-8"> <!--Para que acepte acentos -->
  <link href="styles.css" rel="stylesheet">
  <link href="../../assets/img/Harry.png" rel="shortcut icon">
</head>

<body>
  <header>
    <a href="../../index.html"><p>Return</p></a>
    <img id="logoHeader"src="../../assets/img/harryLogo.png">
    <img id="hogwartsHeader"src="../../assets/img/Hogwarts.png">
  </header>
  <section>
    <h1>Instrucciones<h1><br>
      <ul>
      <h3>Elige tu casa de Hogwarts</h3>
      <h3>Elige...</h3>
    </ul>
  </section>

  <footer></footer>
<script src="assets/scripts.js"></script>
</body>
</html>
