<!DOCTYPE html>
<html lang="es">
<head>
  <title>GameHarry</title>
  <meta charset="utf-8"> <!--Para que acepte acentos -->
  <link href="styles.css" rel="stylesheet">
  <link href="../../assets/img/Harry.png" rel="shortcut icon">
</head>

<body>
  <header>
    <a href="../instructions/instructions.html"><p>Instructions</p></a>
    <img id="logoHeader"src="../../assets/img/harryLogo.png">
    <a id="menu"href="../../index.html"><p>Menu</p></a>
  </header>
  <h1>Choose your Game Mode!</h1>

  <section>
    <div>
      <a href="../computer/computer.html">One Player<img src="../../assets/img/voldemort.jpg"></a>
    </div>
    <div>
      <a href="../">Two Player<img src="../../assets/img/weasley.jpg"></a>
    </div>


  </section>

  <footer></footer>
<!-- <script src="assets/scripts.js"></script> -->
</body>
</html>
