@font-face {
  font-family: harry;
  src:url("fonts/harry.ttf");
}
body
{
  background-image:url("img/wallpaper.jpg");
  width: 100%;
  height: 100vh; /*vh hace que se tome el height de toda la pantalla*/
  background-size:cover;
  background-position:top;
  background-repeat: no-repeat;

}
header
{
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:100%;
  height:25%;
}
header a
{
  background-image:url("img/2.png");
  height: 200px;
  width: 200px;
  background-color: transparent;
  background-size: cover;
  border: 0;
  margin: -78px 0 0 -26px;
  cursor: pointer;
  color:transparent;
}
header p
{
  margin:80px 0 0 30px;
  font-size: 30px;
}
header p:focus
{
  outline:none;
}
header a:hover
{
  background-image:none;
  color: white;

}
section
{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 60%;
}
section div
{
  background-color: #E3F904;
  width: 18%;
  height: 70px;
  border-radius: 100px;
}
section div a
{
  font-family: harry;
  font-style: italic;
  font-size: 45px;
  text-decoration: none;
  color:black;
}
section div p
{
  text-align: center;
}
section div a:focus
{
  outline:none;
}

#logoHeader
{
  width: 420px;
}
#hogwartsHeader
{
  height:200px;
  width: 200px;
  margin: -42px 0 0 0;
}

.megaphone
{
  margin: 55px 0px 0px 30px;
}
.snitch
{

  position:absolute;
  right: 0px;
  top: 450px;
  width: 100px;
  animation-name: fly;
  animation-duration: 4.6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 0.8s;
}
.ron
{
  position:absolute;
  right: 0px;
  top: 300px;
  width: 200px;
  animation-name: fly;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
.harry
{
  position: absolute;
  right: 0px;
  top:600px;
  animation-name:fly;
  animation-duration: 5.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  width: 200px;
  animation-delay: 1s;
}
@keyframes fly
{
  from{transform: translate(200);}
    to{transform: translate(-1500px);}
}
