@font-face {
  font-family: harry;
  src:url("../../assets/fonts/harry.ttf");
}
*
{
  background-size:cover;
  background-position:top;
  background-repeat: no-repeat;
}
.firstBackground
{
  background-image: url("../../assets/img/wallpaper.jpg");
}
body
{
  width: 100%;
  height: 100vh; /*vh hace que se tome el height de toda la pantalla*/
}
header
{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
header a
{
  background-image:url("../../assets/img/2.png");
  height: 200px;
  width: 200px;
  background-color: transparent;
  background-size: cover;
  border: 0;
  margin: -78px 0 0 -26px;
  cursor: pointer;
  color:transparent;
}
header p
{
  margin:80px 0 0 30px;
  font-size: 30px;
}
header p:focus
{
  outline:none;
}
header :hover
{
  background-image:none;
  color: white;
}
#logoHeader
{
  width: 420px;
}
#hogwartsHeader
{
  height: : 200px;
  width: 200px;
  margin: -42px 0 0 0;
}
#menu
{
  background-image: url("../../assets/img/Hogwarts.png");
  background-color: transparent;
}
#menu:hover
{
  background-image:none;
  color: white;
}

 .firstSection h1
{
  text-align: center;
  font-family:harry;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 60px;
}
.firstSection div
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.firstSection input
{
  display: none;
}
.firstSection label
{
  cursor: pointer;
  width: 242px;
  height: 290px;
  display: inline-block;
  font-family: harry;
  font-size: 20px;
  text-align: center;
}
.firstSection label:hover
{
  transform: translateY(-5px);
}
.firstSection form img
{
  width: 100%;
}
.Slytherin
{
 background-image: url("../../assets/img/slytherin.png");
}
.Ravenclaw
{
 background-image: url("../../assets/img/raven.png");
}
.Hufflepuff
{
 background-image: url("../../assets/img/huffle.png");
}
.Gryffindor
{
 background-image: url("../../assets/img/gryffin.png");
}

/* ------------------------------------------------------ */
.secondSection h1
{
 text-align: center;
 font-family:harry;
 font-size: 60px;
 margin-top: 0;
 margin-bottom: 60px;
}
.secondSection div
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.secondSection div input
{
  display: none;
}
.secondSection div label
{
  cursor: pointer;
  width: 250px;
  height: 250px;
  display: inline-block;
  font-family: harry;
  font-size: 20px;
  text-align: center;
}
.secondSection div label:hover
{
  box-shadow: 5px 5px 5px gray;
  transform: translateY(-5px); /*Sirve para resaltar(se mueve 5px eje Y arriba)*/
  /* transform:translateX(10px); */
}
.secondSection  div form img
{
  width: 100%;
}
.obliviate
{
  background-image: url("../../assets/img/PotterWand.jpg");
}
.expelliarmus
{
  background-image: url("../../assets/img/HermioneWand.jpg");
}
.crucio
{
  background-image: url("../../assets/img/MalfoyWand.jpg");
}

/* ------------------------------------------------------ */
.thirdSection h1
{
 text-align: center;
 font-family:harry;
 font-size: 60px;
 margin-top: 0;
 margin-bottom: 60px;
}
.thirdSection div
{
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.thirdSection div input
{
 display: none;
}
.thirdSection div label
{
 cursor: pointer;
 width: 242px;
 height: 290px;
 display: inline-block;
 font-family: harry;
 font-size: 20px;
 text-align: center;
}
.thirdSection div label:hover
{
 transform: translateY(-5px);
}
.thirdSection div form img
{
 width: 100%;
}
/* ------------------------------------------------------ */
.fourthSection h1
{
 text-align: center;
 font-family:harry;
 font-size: 60px;
 margin-top: 0;
 margin-bottom: 60px;
}
.fourthSection div
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fourthSection div input
{
  display: none;
}
.fourthSection div label
{
  cursor: pointer;
  width: 250px;
  height: 250px;
  display: inline-block;
  font-family: harry;
  font-size: 20px;
  text-align: center;
}
.fourthSection div label:hover
{
  box-shadow: 5px 5px 5px gray;
  transform: translateY(-5px); /*Sirve para resaltar(se mueve 5px eje Y arriba)*/
  /* transform:translateX(10px); */
}
.fourthSection  div form img
{
  width: 100%;
}
.obliviate
{
  background-image: url("../../assets/img/PotterWand.jpg");
}
.expelliarmus
{
  background-image: url("../../assets/img/HermioneWand.jpg");
}
.crucio
{
  background-image: url("../../assets/img/MalfoyWand.jpg");
}
/* ------------------------------------------------------ */
/* .fifthSection
{
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
.fifthSection h1
{
  text-align: center;
  font-family:harry;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 60px;
  color: white;
}
.imageContainer
{
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fifthSection img
{
  width: 250px;
}


.hidden
{
  display: none;
}
